@import url(https://fonts.googleapis.com/css?family=Archivo+Black|Baloo|Bree+Serif|Chewy|Heebo|Hind+Siliguri|Julius+Sans+One|Luckiest+Guy|Major+Mono+Display|Oxygen|Questrial|Roboto|Rubik);

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

.full-name {
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #ffffff, #f3f0fc, #eae1f7, #e1d2f2, #dbc2eb);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.7px;
}

.name {
    display: block;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    letter-spacing: 15px;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}
