@import url(https://fonts.googleapis.com/css?family=Archivo+Black|Baloo|Bree+Serif|Chewy|Heebo|Hind+Siliguri|Julius+Sans+One|Luckiest+Guy|Major+Mono+Display|Oxygen|Questrial|Roboto:100|Rubik);
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: linear-gradient(to right top, #1c1c87, #2f1f93, #40219f, #5123ab, #6224b7, #7226c0, #8228c9, #922ad2, #a42edb, #b732e4, #c936ec, #dc3af4);
}

section {
    color: #fff;
    width: 100%;
    height: 100vh;
}

a {
    color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.container .login-title, {
    position: relative;
    width: 50%;
    height: 500px;
    float: left;
    box-sizing: border-box;
}

.full-name {
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #ffffff, #f3f0fc, #eae1f7, #e1d2f2, #dbc2eb);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.7px;
}

.name-box {
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    padding: 50px;
}

.name {
    display: block;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    letter-spacing: 15px;
}

.detail-box{
    /* margin-top: 10px; */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -90%);
    padding: 40px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.55);
    /* margin-bottom: 2.75em; */
}

.login-btn {
    margin: 20px;
}
#footer {
		padding: 1em 0;
		/* background: #6cc091; */
		color: #fff;
		text-align: center;
	}

		#footer h3 {
			color: #FFF;
			margin-bottom: 2em !important;
		}

		#footer label {
			text-align: left;
			color: #FFF;
		}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.8em;
			margin: 0 0 2em 0;
			padding: 0;
		}

			#footer .copyright a {
				color: rgba(255, 255, 255, 0.5);
				text-decoration: none;
			}

				#footer .copyright a:hover {
					color: #FFF;
				}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 4em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0;
			}

		}

        #banner {
                padding: 2em 0 1em 0;
                text-align: center;
                position: relative;
                height: 50vh;
            }


                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

                    #banner {
                        background-attachment: scroll;
                    }

                }

                @media screen and (max-width: 1280px) {

                    #banner {
                        padding: 7em 0 6em 0;
                    }
                }

                @media screen and (max-width: 980px) {

                    #banner {
                        background-attachment: scroll;
                        padding: 5em 0 4em 0;
                    }
                }

                @media screen and (max-width: 736px) {

                    #banner {
                        padding: 4em 0 3em 0;
                    }
                }
